*{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}
.center{ text-align:center; }
.right{ text-align:right; }
.pointer { cursor: pointer; }

.floatleft { float:left; }
.floatright { float:right; }

.border { border: #999999 1px solid; }
.bordertop { border-top: #999999 1px solid; }
.borderbottom { border-bottom: #999999 1px solid; }
.borderleft { border-left: #999999 1px solid; }
.borderright { border-right: #999999 1px solid; }
.hover:hover { background-color: #C1E5B7; }
.cellpadding { padding:2px; }

/*.header{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
     /*background: #1abc9c;*/
  /*   background: #6d597a;
    color: #ded8dc;
}*/
.MainBg{
    
    background: #03346f;
    
    
    
    background: #143601;
    background-color: #99c1b9;
    margin: 0px;

    background: #036666;
    background: #036666;
    background:#2c3a4e ;
    background: #283c55;
    background: #142233;
}

.MenuItems{
    width: 25%;
    cursor: pointer;
    /*background: #e9c46a;*/
    /*background:#ffd97d;
    background: #f0c05a;*/
    /*background:#f2ccb8;*/
    /*background:#f0ce9e;*/
   /* background: #b8bedd;
    background: #e9d985;*/
   background: #f28482;
  
    z-index: 1;
    color: #2d2d2d;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    
}

.MenuItems:hover{
    color: #2d2d2d;
    background-image: linear-gradient(to top,   rgba(233,237,201,1) 80%, #6b2c89 65%);
}
.div{
    vertical-align:middle;
    position: relative;
    align-items: center; 
}
.h1{
    position: relative;
    align-items: center;    
}

.main-grid{
    display: grid;
    /*flex-direction: column;
    vertical-align: middle; 
    text-align: center; */
    grid-template:            /* Height*/
    " header header header  " 150px
    " content content content " 1fr
    " footer footer footer " 100px
    / 20% 1fr 15% ; /*Width*/ 
     
}

/*@media screen and (min-width:736px) {
    
}*/
.header{
    padding-top: 10px;
    grid-area: header;
    position: relative;

    background-color: #1e6091;
    background: rgb(39,2,62);
    background: #8e7dbe;
    background-color: #4a7c59;
    background: #248277;
    
    background-color: #50156b;
    background: #6b2c89;

    background: linear-gradient(90deg, rgba(39,2,62,1) 9%, rgba(104,36,149,1) 42%, rgba(120,61,158,1) 100%);
    background: #14746f;
    text-align: center;
    color: #cfccce;
}
.content{
    grid-area: content;
    padding-top: 20px;
    padding-left: 30px;
    min-height: fit-content;
    font-size: 15px;
    color: #1e1d1d;
    display: grid;
    grid-template: 
    " imgContainer aboutMe" 1fr /* height */
    /   30% 40%; /* width*/

    /* Good colors but not good to text mainly greenish
    background: linear-gradient(90deg, rgba(83,141,34,1) 0%, rgba(115,169,66,1) 15%, rgba(170,213,118,1) 50%, rgba(115,169,66,1) 85%, rgba(83,141,34,1) 100%);
    background: linear-gradient(90deg, rgba(26,117,159,1) 0%, rgba(82,182,154,1) 10%, rgba(52,160,164,1) 50%, rgba(82,182,154,1) 90%, rgba(26,117,159,1) 100%);*/
    /* good grey */
    /* background-color: #b6b6b6;*/
    /* good Yellow */
    /*background-color: #f4bb71;*/
    /*good green for light purple*/
    /*background-color: #06b178;*/

   background: linear-gradient(90deg, rgba(204,213,174,1) 4%, rgba(219,225,188,1) 8%, rgba(233,237,201,1) 50%, rgba(219,225,188,1) 92%, rgba(204,213,174,1) 96%);
   
}


.footer{
    grid-area: footer;
    height:50px;
    text-align: center;  
    padding-top: 25px;
    
    /*background-color: #1e6091;
    background: rgb(39,2,62);
    background: #8e7dbe;
    background-color: #4a7c59;
    background: #248277;
    background: #14746f;
    background-color: #50156b;
    background: #6b2c89;*/

    /*background: linear-gradient(90deg, rgba(120,61,158,1) 9%, rgba(104,36,149,1) 42%, rgba(39,2,62,1) 100%);*/
    background: #14746f;
    color: #ded8dc;
}
.aboutMe{
    padding: 10px;
    grid-area: aboutMe;
    justify-content: center;
    
}

.imgContainer{
    grid-area: imgContainer;
    position: relative;
    
}


.filler-left{
    grid-area: filler-left;
    background-color: #99c1b9;
}
.filler-right{
    grid-area: filler-right;
    background-color: #99c1b9;
}
.sidebar{
    grid-area: sidebar;
}


.profileImg{
    width: 200px; 
    height: 200px;
    margin-left: 30%;
    left: 0;
    justify-content: left;
    /*border-radius: 50%;*/

}

.ragnarock-grid{
    display: grid;
    grid-template:            /* Height*/
    " header header header  " 100px
    " ragna-content-grid ragna-content-grid ragna-content-grid" 1fr
    " footer footer footer " 100px
    / 20% 1fr 15% ; /*Width*/ 
}

.ragna-content-grid{
    grid-area: ragna-content-grid;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: fit-content;
    font-size:20px;
    color:#1e1d1d;
    
    display: grid;
    grid-template:                   /* Height*/
    "fill-l text-left img-grid1 img-grid1 fill-r" 350px 
    "fill-l center-text  center-text center-text fill-r" 100px
    "fill-l img-grid2 img-grid2 right-text fill-r" 750px
    "fill-l text-center text-center text-center fill-r" 100px
    "fill-l video-grid video-grid video-grid fill-r" 1fr
    /*"fill-l img-grid3 img-grid3 . fill-r" 400px*/
    / 1fr 35% 1fr 35% 1fr ; /*Width*/ 
    background: linear-gradient(90deg, rgba(204,213,174,1) 4%, rgba(219,225,188,1) 8%, rgba(233,237,201,1) 50%, rgba(219,225,188,1) 92%, rgba(204,213,174,1) 96%);
    background: linear-gradient(90deg, rgba(250,237,205,1) 0%, rgba(250,237,205,1) 10%, rgba(254,250,224,1) 50%, rgba(244,244,213,1) 90%, rgba(233,237,201,1) 100%);
}


.right-text{
    grid-area: right-text;
    padding: 10px;
    border: #697e9b solid 5px;
}
.center-text{
    grid-area: center-text;
    text-align: center;
    padding: 10px;
    border: #16d148 solid 5px;
    
}
/*

While the goal of the prototype was to test the players cognitiv map of the city as mentioned earlier, it was desided to have basic game mechanics
like basic movement, jump and the ability to through a hammer. <br>
The hammer was added to have the players a more active gamemechanic. As a gameplay reward to the players for walking through the town. The player needed to defeat at boss at the end of the game, more on that later. <br> 
To learn the player how to use the hammer and the bosses weak points which was icecrystals, two icecrystals was placed in the city with a spirit trapped inside of. Which the player needed to free.<b>

*/

.center-text2{
    grid-area: center-text2;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: #16d148 solid 5px;
}

.text-center{
    grid-area: text-center;
    border:solid;
    display: flex;
    grid-column: auto /span 1;
    grid-row: auto/span 1;
    padding: 10px;
    text-align: center;
    justify-content: center;
   
}

.fill-l {
    grid-area: fill-l; 
    background: #ffecd5;
    border: #121212 solid 5px;
}
.fill-r {
    grid-area: fill-r; 
    background: #ffecd5;
    border: #121212 solid 5px;
}
.fill-l div:only-child{
    grid-area: fill-l;
}
.fill-r div:only-child{
    grid-area: fill-r;
}

/*  Media grids  */

.img-grid1{
    
    grid-area: img-grid1;
    display: grid;
    padding-top: 20px;
    
    grid-template: 
    " tl-img tr-img" 152px
    " bl-img br-img" 152px
    / 300px 300px ;   
}

.img-grid2{
    
    background: #ffecd5;
    grid-area: img-grid2;
    border: #d11616 solid 5px;
    display: grid;
    padding-top: 10px;
    margin-bottom: 2px;
    grid-template: 
    " tl-img tr-img" 336px
    " bl-img br-img" 336px
    / 335px 335px ;
}

.video-grid{
    grid-area: video-grid;
    border: #ea68fb solid 5px;
    background: #c2e4e5;
    padding: 5px;

    display: grid;
    grid-template: 
    " text-left video-right " 1fr
    " video-right text-left  " 1fr
    " text-left video-right " 1fr
    / 45% 1fr ;  
}
.text-left{
    /*grid-area: left-text;
    padding: 10px;
    border: #196add solid 5px;*/
    grid-area: text-left;
    border:solid;
    display: flex;
    grid-column: auto /span 1;
    grid-row: auto/span 1;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 40px;


}

/*  Media classes  */

.video-right{
    margin: 5px;
    grid-area: video-right;
    border:solid;
    display: flex;
    grid-column: 2 / span 1 ;
    grid-row: auto/span 1;
    
}

.video-size{
    height: 350px;
    width: 600px;   
}

.tl-img{
    grid-area: tl-img;
    margin-bottom: 2px;
    border-bottom:#ffe14c solid 2px;
}

.tr-img{
    grid-area: tr-img;
    margin-bottom: 2px;
    border-bottom:#ffe14c solid 2px;
}

.bl-img{
    grid-area: bl-img;
}

.br-img{
    grid-area: br-img;   
}

.wh-img{
    width: 300px;
    height: 150px;
}
.square-img{
    width: 335px;
    height: 335px;
}

