*{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    
}

.pointer { cursor: pointer; }

.div{
    vertical-align:middle;
    position: relative;
    align-items: center; 
}
.h1{
    position: relative;
    align-items: center;    
}


/*  Main elements */

.MenuItems{
    width: 25%;
    cursor: pointer;
    background: #e54b4b;
    z-index: 1;
    color: #2d2d2d;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    bottom: -20px;
    position: relative;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    text-decoration:none;
    
}

.MenuItems:hover{
    color: #fbfff1;
    background-image: linear-gradient(to top,  #8742af 90%, #50154b 10%);
}
.game-menu {
    width: fit-content;
    position: fixed;
    top: 30%;
}
  
.game-menu a {
    background-color: #e54b4b; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 10px 5px 10px 5px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border: #000000 3px solid;
   
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
}
  
.game-menu a:hover {
    background-color: #cccccc37; /* Dark grey background on mouse-over */
    color: aliceblue;
}
  
.header{
    padding-top: 10px;
    grid-area: header;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background: #50154b;
}

.footer{
    grid-area: footer;
    text-align: center;  
    padding-top: 25px;
    background: #50154b;
    color: #ded8dc;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0%;
    font-size: 25px;
    z-index: 1;
}



.btn-download{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto ;
    color:#20201f;
    background: #e54b4b;
    padding:20px;
    border-width:2px ;
    border-color:#20201f;
    border-style: solid;
    font-weight: bold;
    font-style: 30px;
}

.btn-download:hover{

    background: #ffffff4a;
    color: #fbfff1;;
}

/* Grids  */
.home-page{
    background: #6f3491;  
    color: aliceblue;
    font-size: 25px;
    grid-area: game-page;
    display: grid;
    grid-template:
    "subheader subheader  subheader subheader subheader" 200px
    "hGame hGame hGame hGame hGame" 1fr
    "skills skills skills skills skills" 200px
    "hGame hGame hGame hGame hGame" 1fr
    "skills skills skills skills skills" 200px
    "hGame hGame hGame hGame hGame" 1fr
    "contact contact contact contact contact" 200px
    "footer footer footer footer footer" 50px
    / 15% 1fr 1fr 1fr 15%    
    ;
    min-height: 400px;
}

.subheader{
    color: aliceblue;
    background:  #6f3491;
    padding-top: 50px;

    grid-area: "hGame";
    display: grid;
    grid-row: auto;
    grid-template: 
    "fill aboutMe aboutMe fill-r" 350px
    / 15% 1fr 1fr 15%;

}


.hGame{
    color: aliceblue;
    background:  #6f3491;
    padding-top: 50px;

    grid-area: "hGame";
    display: grid;
    grid-row: auto;
    grid-template: 
    "fill text imgContainer fill-r" 350px
    / 15% 1fr 1fr 15%;
}
.whatIbring{
    color: aliceblue;
    grid-area: "whatIbring";
    display: grid;
    grid-row: auto;
    grid-template: 
    " fill title title title title title title title title fill-r " 50px
    " fill imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer fill-r " 150px
    / 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%
    ;
}
.skills{
    background: #2c365e; 
    color: aliceblue;
    grid-area: "skills";
    display: grid;
    grid-row: auto;
    grid-template: 
    " fill title title title title title title title title fill-r " 50px
    " fill imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer fill-r " 150px
    / 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%
    ;
}

.tools{
    color: aliceblue;
    grid-area: "tools";
    display: grid;
    grid-row: auto;
    grid-template: 
    " fill title title title title title title title title fill-r " 50px
    " fill imgContainer imgContainer imgContainer imgContainer imgContainer imgContainer fill-r " 150px
    / 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%
    ;
}
.pad-top-left{
    padding-top: 5.5%;
    padding-left: 35%;
}

.contact{
    background: #2c365e; 
    color: aliceblue;
    grid-area: "contact";
    display: grid;
    grid-row: auto;
    grid-template: 
    " fill title title fill-r "50px
    " fill text text fill-r" 100px
    " fill text-left text-right fill-r" 150px
    / 1fr 1fr 1fr 1fr ;
}


.game-page{
    background: #6f3491;  
    color: aliceblue;
    font-size: 25px;
    grid-area: game-page;
    display: grid;
    grid-template:
    "fill text-left imgContainer-r fill-r" 550px
    "game-what-is game-what-is game-what-is game-what-is" 550px
    "game-core game-core game-core game-core" 600px
    "game-content game-content game-content game-content" 900px
    "game-role game-role game-role game-role" 1fr
    "footer footer footer footer" 50px
    / 15% 1fr 1fr 15%    
    ;
    min-height: 400px;
}

.game-what-is{
    background: #2c365e; 
    color: aliceblue;
    font-size: 25px;
    grid-area: game-what-is;
    display: grid;
    grid-template:
    "fill title title title  fill-r" 100px 
    "fill imgContainer imgContainer-c imgContainer-r fill-r" 1fr
    "fill text-left text text-right fill-r" 150px
    / 10% 1fr 1fr 1fr 10% ;
}

.game-core{
    background: #6f3491;
    color: aliceblue;
    font-size: 25px;
    grid-area: game-core;
    display: grid;
    grid-template:
    "fill value value value fill-r" 250px
    "fill pillar pillar-desc pillar-desc fill-r" 300px
    / 15% 1fr 1fr 1fr 15% ;
}

.game-role{
    background: #6f3491; 
    color: aliceblue;
    font-size: 25px;
    grid-area: game-role;
    display: grid;
    grid-template:
    "fill text-left text-left text-left fill-r" 300px
     "fill imgContainer text text fill-r" 1fr
     / 15% 1fr 1fr 1fr 15% ;
}

.game-content{
    background: #2c365e; 
    color: aliceblue;
    font-size: 25px;
    grid-area: game-content;
    display: grid;
   
    grid-template:
    "fill title title title  fill-r" 100px 
    "fill imgContainer imgContainer-c imgContainer-r fill-r" 1fr
    "fill text-left text text-right fill-r" 750px
    / 10% 1fr 1fr 1fr 10% ;
}

/*  text elements  */
.aboutMe{
    background:  #6f3491;
    grid-area: aboutMe;
    justify-content: center;
    
}

.text-left{
    grid-area: text-left;
    display: flex;
    grid-column: 2 /span auto;
    grid-row:span 1;
    padding-top: 10%;
    
}

.text-right{
    grid-area: text-right;
    grid-area: fill;
    grid-column: auto;
    grid-row: auto ;
    display: flex;
    
}
.text{
    grid-area: text;
 
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}

/* img containers*/
.imgContainer{
    
    grid-area: imgContainer;
    position: relative;
    grid-column: auto;
    grid-row: auto ;
    vertical-align: top;
    display: inline-block;
}

.imgContainer-r{
    grid-area: imgContainer-r;
    position: relative;
    grid-column: auto;
    grid-row: auto ;
    display: inline-block;
}

.imgContainer-c{
    grid-area: imgContainer-c;
    position: relative;
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}

/* fillers */
.fill-r {
    grid-area: fill-r; 
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}

.fill{
    grid-area: fill;
    grid-column: 1;
    grid-row: auto ;
    display: flex;
    
}

/* desing pillar / values*/

.pillar{
    grid-area: pillar;

}
.pillar img{
    padding-left: 40%;
    width: 50px;
}
.pillar h2{
    width: 85%;
    margin-left: 50px;
}
.pillar-desc{
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    top:-50px
}

.value{
    padding-top: 8%;

}
.value img{
    padding-left: 40%;
    width: 50px;
}
.value h2{
    width: 85%;
    margin-left: 50px;
}

/* one liners */

.title{    
    grid-area: title;
}
.one-sentece{
    font-size: 25; 
    font-weight: 150; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 5%;
    font-weight: 100;
}
.icons{
    width: 50px;
    height: 50px;
}
