*{
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}
.center{ text-align:center; }
.right{ text-align:right; }
.pointer { cursor: pointer; }

.floatleft { float:left; }
.floatright { float:right; }

.border { border: #999999 1px solid; }
.bordertop { border-top: #999999 1px solid; }
.borderbottom { border-bottom: #999999 1px solid; }
.borderleft { border-left: #999999 1px solid; }
.borderright { border-right: #999999 1px solid; }
.hover:hover { background-color: #C1E5B7; }
.cellpadding { padding:2px; }
.div{
    vertical-align:middle;
    position: relative;
    align-items: center; 
}
.h1{
    position: relative;
    align-items: center;    
}


/*@media screen and (min-width:736px) {
    
}*/

/*
Yellow grey text bg
background: #f5eada;
background: #f5e8d8

Yellow grey fill bg
 background: #e4dac9;
 background: #f2e5d6;
*/




/*  Grid elements */

.MenuItems{
    width: 25%;
    cursor: pointer;
    background: #f28482;
    z-index: 1;
    color: #2d2d2d;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    bottom: -5px;
    position: relative;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    
}

.MenuItems:hover{
    color: #2d2d2d;
    background-image: linear-gradient(to top,   rgba(233,237,201,1) 80%, #6b2c89 65%);
}


.header{
    padding-top: 10px;
    grid-area: header;
    position: relative;
    font-size: 30px;
    background-color: #1e6091;
    background: rgb(39,2,62);
    background: #8e7dbe;
    background-color: #4a7c59;
    background: #248277;
    
    background-color: #50156b;
    background: #6b2c89;

    background: linear-gradient(90deg, rgba(39,2,62,1) 9%, rgba(104,36,149,1) 42%, rgba(120,61,158,1) 100%);
    
    background-color: #4a7c59;
    text-align: center;
    color: #e9dfe8;
}

.footer{
    grid-area: footer;
   
    text-align: center;  
    padding-top: 25px;
    
    /*background-color: #1e6091;
    background: rgb(39,2,62);
    background: #8e7dbe;
    background-color: #4a7c59;
    background: #248277;
    background: #14746f;
    background-color: #50156b;
    background: #6b2c89;*/

    /*background: linear-gradient(90deg, rgba(120,61,158,1) 9%, rgba(104,36,149,1) 42%, rgba(39,2,62,1) 100%);*/
    background: #14746f;
    color: #ded8dc;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0%;
    font-size: 25px;
}
.aboutMe{
    padding: 20px;
    font: 30px;
    grid-area: aboutMe;
    justify-content: center;
    
}
.bg-games{
    background: #fdfadc;
}


.imgContainer{
    border: #00ff55 solid;
    grid-area: imgContainer;
    position: relative;
    grid-area: fill;
    grid-column: auto;
    grid-row: auto ;
    display: flex;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.imgContainer-r{
    border: #1f44fd solid;
    grid-area: imgContainer-r;
    position: relative;
    grid-area: fill;
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}

.sidebar{
    grid-area: sidebar;
}


.profileImg{
    width: 200px; 
    height: 200px;
    margin-left: 30%;
    left: 0;
    justify-content: left;
    /*border-radius: 50%;*/

}

.header1{
    grid-area: header1;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    grid-column: 2 / span 3; 
}

.text{
    grid-area: text;
 
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}

.text-left{
    border: #ff6200 solid;
    grid-area: text-left;
    display: flex;
    grid-column: 2 /span 1;
    grid-row:span 1;
    padding-top: 10%;
    
}

.text-right{
    border: #ff0202 solid;
    grid-area: text-right;
    grid-area: fill;
    grid-column: auto;
    grid-row: auto ;
    display: flex;
    
}

.sub-header{
    grid-area: sub-header;
    text-align: center;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    grid-column: 2 / span 3;
    grid-row:  span 1;
    position: relative; 
}

.fill-r {
    border: #7c7b7b solid;
    grid-area: fill-r; 
    grid-column: auto;
    grid-row: auto ;
    display: flex;
}
.fill{
    border: #000000 solid;
    grid-area: fill;
    grid-column: 1;
    grid-row: auto ;
    display: flex;
    
}
.transitionColor{
    grid-area: transitionColor;
}
.homepage-transition-bg{
    background: linear-gradient(180deg, rgba(244,244,213,1) 50%, rgba(253,250,220,1) 60%);
}


/* Grids  */

.main-grid{
    display: grid;
    grid-template:       /* Height*/
    " header header header  " 150px
    " homepage-content-grid homepage-content-grid homepage-content-grid " 1fr
    " footer footer footer " 150px
    / 20% 1fr 15% ;         /*Width*/ 
     
}
.homepage-content-grid{
    grid-area: homepage-content-grid;
    padding-top: 2.5%;
    padding-left: 30px;
    min-height: fit-content;
    font-size: 15px;
    color: #1e1d1d;
    display: grid;
    grid-template: 
    "fill imgContainer aboutMe fill-r" 400px /* height */
    " fill text img-thumbnail-grid fill-r" 1fr
    /  15% 1fr 1fr 15%; /* width*/

    /* Good colors but not good to text mainly greenish
    background: linear-gradient(90deg, rgba(83,141,34,1) 0%, rgba(115,169,66,1) 15%, rgba(170,213,118,1) 50%, rgba(115,169,66,1) 85%, rgba(83,141,34,1) 100%);
    background: linear-gradient(90deg, rgba(26,117,159,1) 0%, rgba(82,182,154,1) 10%, rgba(52,160,164,1) 50%, rgba(82,182,154,1) 90%, rgba(26,117,159,1) 100%);*/
    /* good grey */
    /* background-color: #b6b6b6;*/
    /* good Yellow */
    /*background-color: #f4bb71;*/
    /*good green for light purple*/
    /*background-color: #06b178;*/
}

.game-grid{
    display: grid;
    grid-template: 
    /*" fill overview imgContainer fill-r"
    " fill imgContainer involvement fill-r "
    " fill design-text loop-img fill-r"
    " fill lvl1 imgContainer fill-r"
    " fill lvl2 imgContainer fill-r"
    " fill lvl3 imgContainer fill-r"
    ;*/
    " game-content game-content game-content game-content" 1fr
    " game-content game-content game-content game-content" 1fr
    " game-content game-content game-content game-content" 1fr
    " game-content game-content game-content game-content" 1fr
    / 15% 1fr 1fr 15% ;
    min-height: 200px;
}

.game-content{
    grid-area: game-content;
    display: grid;
    grid-row: auto / span 1;
    
    grid-template: /* design - lvl1 - lvl2 - lvl3*/
    "fill text-left imgContainer-r fill-r" 1fr
    "what-is what-is what-is what-is" 400px
    "content content content content" 1fr
    " core core core core" 1fr
   

    / 10% 1fr 1fr 15%    
    ;
    min-height: 400px;
}

.what-is{
    grid-area: what-is;
    display: grid;
    grid-template: /* design - lvl1 - lvl2 - lvl3*/
    "fill title title title  fill-r" 100px 
    "fill imgContainer imgContainer-c imgContainer-r fill-r" 1fr
    "fill text-left text text-right fill-r" 100px
    / 10% 1fr 1fr 1fr 10% ;
}

.core{
    grid-area: core;
    display: grid;
    grid-template:
   
   /* "fill gamplay-loop gamplay-loop gamplay-loop fill-r" 1fr*/
    "fill value value value fill-r" 1fr
    "fill pillar pillar-desc pillar-desc fill-r" 1fr
    "fill text-right text-right . fill-r" 1fr
    "fill text-left text-left text-left fill-r" 1fr
    / 10% 1fr 1fr 1fr 10% ;
    /*
    My role, what I have done
    Game Loop img
    Design pillers design values
    
    player motivation and progress
    
    */
}

.content{
    grid-area: content;
    display: grid;
    grid-template:
    "fill text-left text-left text-left fill-r" 1fr
    "fill text text text fill-r" 1fr
    "fill text-right text-right text-right fill-r" 1fr
    / 10% 1fr 1fr 1fr 10% ;
}




/*
Pillars
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160v8c0 13.3 10.7 24 24 24H456c13.3 0 24-10.7 24-24v-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224H64V420.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512H480c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1V224H384V416H344V224H280V416H232V224H168V416H128V224zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
*/
.pillar{
    padding-top: 5%;

}
.pillar img{
    padding-left: 40%;
    width: 50px;
}
.pillar h2{
    width: 85%;
    margin-left: 50px;
}
.pillar-desc{

    
    font-size: 25px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.value{
    padding-top: 8%;

}
.value img{
    padding-left: 40%;
    width: 50px;
}
.value h2{
    width: 85%;
    margin-left: 50px;
}



.title{    
    grid-area: title;
}
.one-sentece{
    font-size: 25; 
    font-weight: 150; 
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 5%;
    font-weight: 100;
}

.ragnarock-grid{
    display: grid;
    grid-template:        /* Height*/
    " header header header  " 200px
    " ragna-content-grid ragna-content-grid ragna-content-grid" 1fr
    " footer footer footer " 200px
    / 20% 1fr 15% ;         /*Width*/ 
}

.ragna-content-grid{
    grid-area: ragna-content-grid;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: fit-content;
    font-size:20px;
    color:#1e1d1d;
    
    display: grid;
    grid-template:                   /* Height*/
    "fill text img-grid1 img-grid1 fill-r" 20%
    "fill sub-header  sub-header sub-header fill-r" 5%
    "fill img-grid2 img-grid2 right-text fill-r" 30%
    "fill header1 header1 header1 fill-r" 5%
    " video-grid video-grid video-grid video-grid  video-grid" 1fr
    / 1fr 35% 1fr 35% 1fr ;           /*Width*/ 
}


/*  Media grids  */

.img-thumbnail-grid{
    grid-area: img-thumbnail-grid;
    display: grid;
    
 
    grid-template: 
    " img-grid-right" 300px

    " img-grid-right" 300px
    
    " img-grid-right" 300px
    
    / 600px ; 
}


.img-grid-right{
    grid-area: img-grid-right;
    display: grid;
    grid-row: auto/span 1;
    padding-top: 20px;
    grid-template: 
    " tl-img tr-img" 138px
    " bl-img br-img" 138px
    " .           ."  24px
    / 300px 300px ; 
    
}

.img-grid1{
    
    grid-area: img-grid1;
    display: grid;
    padding-top: 20px;
    
    grid-template: 
    " tl-img tr-img" 152px
    " bl-img br-img" 152px
    / 300px 300px ;   
}

.img-grid2{
    
    grid-area: img-grid2;
    display: grid;
    padding-top: 10px;
    
    grid-template: 
    " tl-img tr-img" 300px
    " bl-img br-img" 300px
    / 300px 300px ;
}

.video-grid{
    grid-area: video-grid;
    
    grid-template-columns: 10% 1fr 1fr 10%;
    display: grid;
    grid-template: 
    "fill text-left video-right fill" 1fr
    "fill video-right text-left  fill" 1fr
    "fill text-left video-right fill" 1fr
    / 1fr 1fr 1fr 1fr ;  
}


/*  Media classes  */

.video-right{
    
    grid-area: video-right;
    display: flex;
    grid-column: 3;
    grid-row: auto;
    padding-left: 5%;
    padding-top: 50px; 
}

.video-size{
    height: 300px;
    width: 500px;   
}

.tl-img{
    grid-area: tl-img;
    margin-bottom: 2px;
   
}

.tr-img{
    grid-area: tr-img;
    margin-bottom: 2px;
   
}

.bl-img{
    grid-area: bl-img;
}

.br-img{
    grid-area: br-img;   
}

.wh-img{
    width: 300px;
    height: 138px;
}
.square-img{
    width: 300px;
    height: 300px;
}

/* Color Classes  */
/*.MainBg{
    
    background: #03346f;
    
    
    
    background: #143601;
    background-color: #99c1b9;
    margin: 0px;

    background: #036666;
    background: #036666;
    background:#2c3a4e ;
    background: #283c55;
    background: #142233;
}*/

.start-fill-l{
    background: linear-gradient(90deg, rgba(192,209,171,1) 98.75%, rgba(238,251,224,1) 100%);
}
.start-fill-r{
    background: linear-gradient(90deg, rgba(238,251,224,1) 0%, rgba(192,209,171,1) 1.25%);  
}

.lBlue-header{
    font:bold;
    background: linear-gradient(180deg, rgba(238,251,224,1) 0%, rgba(152,202,220,1) 1.25%, rgba(152,202,220,1) 98.25%, rgba(227,239,255,1) 100%);
}
.lBlue-header-fill{
    background: linear-gradient(180deg, rgba(192,209,171,1) 0%, rgba(152,202,220,1) 1.25%, rgba(152,202,220,1) 98.25%, rgba(189,212,238,1) 100%); 
}
.lBlue-fill-l{
    background: linear-gradient(90deg, rgb(227, 237, 250) 98.75%, rgba(227,239,255,1) 100%);
}
.lBlue-fill-r{
/*background: linear-gradient(90deg, rgba(227,239,255,1) 0%, rgba(189,212,238,1) 1.25%);*/
background: linear-gradient(90deg, rgba(227,239,255,1) 0%, rgba(227, 237, 250) 1.25%);
}

.text-bg{
     background: #fefefa;
     background: #f5ebe0;
}

.lRed-header{
    font:bold;
    background: #98cadc;
    background: #f2b5b5;
    
    background: #e4c4a5;
    background: #ff9970;
    background: #f2b5b5;
    background: linear-gradient(180deg, rgba(189,212,238,1) 0%, rgba(242,181,181,1) 2%, rgba(242,181,181,1) 98%, rgba(252,231,231,1) 100%);
    background: #a9b6c9;
    background: #cdb4db;
    background: #dec8e5;
   
}


.lRed-header-fill{
    background: linear-gradient(180deg, rgba(189,212,238,1) 0%, rgba(242,181,181,1) 2%, rgba(242,181,181,1) 98%, rgba(252,231,231,1) 100%);
   background: #dec8e5;
 
}
.lRed-fill-l{
   /* background: linear-gradient(90deg, rgba(254,207,207,1) 98%, rgba(252,231,231,1) 100%);*/
    background: linear-gradient(90deg, rgba(254, 221, 221,1) 98%, rgba(252,231,231,1) 100%);
    background: #f0d6e4;
}
.lRed-fill-r{
    background: linear-gradient(90deg, rgba(252,231,231,1) 0%, rgba(254, 221, 221,1) 1.25%);
    background: #f0d6e4;
}
